/************************************************************** uniwersal **************************************************************/
:root {
  --fontColor: #000000;
  --linkActive: #86a6de;
  --boxShadow: rgba(0, 0, 0, 0.1);
  --bgGray: #F8F8F8;
  --bgBlack: #1F2022;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font-size: 4rem;
  font-weight: lighter;
  padding: 0 2rem 0 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1.7rem;
  font-weight: bold;
}

p {
  font-size: 1.8rem;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer;
}

.button--white {
  position: relative;
  width: 15rem;
  height: 4rem;
  background: white;
  color: white;
  box-shadow: 0 0.5rem 2rem var(--boxShadow);
  overflow: hidden;
}

.buttonSecend {
  position: relative;
  padding: 0.8rem 3rem 0.8rem 3rem;
  background: black;
  overflow: hidden;
}

.buttonSecend::after,
.buttonSecend::before,
.button--white::after,
.button--white::before {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200%;
  left: 0;
  transition: 0.3s;
}

.button--submit::after,
.submitContact::after {
  content: 'Wyślij';
  color: var(--fontColor);
  top: 0;
}

.button--more::after {
  content: 'Więcej';
  color: var(--fontColor);
  top: 0;
}

.button--more::before {
  content: '';
  background: url(../../../assets/images/more.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
  height: 100%;
  top: 100%;
}

.button--submit::before,
.submitContact::before {
  content: '';
  background: url(../../../assets/images/send.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
  height: 100%;
  top: 100%;
}

.askButton::after {
  content: 'Zapytaj';
  top: 0;
  color: white;
}

.downButton::after {
  content: 'Pobierz plan';
  top: 0;
  color: white;
}

.askButton::before,
.downButton::before {
  top: 100%;
  height: 100%;
}

.askButton::before {
  content: '';
  background: url(../../../assets/images/contact.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
}

.downButton::before {
  content: '';
  background: url(../../../assets/images/download.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.2rem;
}

.buttonSecend:hover::after,
.buttonSecend:hover::before,
.button--white:hover::after,
.button--white:hover::before {
  transform: translateY(-100%);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center
}

main,
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  overflow-x: hidden;
}

/************************************************************** header **************************************************************/
header {
  margin: 15rem 0 0 0;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  width: 100%;
  top: 0;
  z-index: 100;
  background: white;
  transition: 0.3s;
}

.nav.hide {
  transform: translateY(-15rem);
}

.nav__hamburger {
  display: none;
}

.nav__logo,
.nav__logoLink {
  height: 8rem;
  align-items: flex-start;
  margin: 0 0 0 8%;
}

.nav__ul {
  display: flex;
  list-style: none;
  margin: 0 8.8% 0 0;
}

.nav__a {
  letter-spacing: 0.2rem;
  margin: 0 0 0 2.6vw;
  font-size: 1.7rem;
  color: var(--fontColor);
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  text-align: center;
}

.nav__a:after,
.nav__a::before {
  display: block;
  position: absolute;
  color: var(--linkActive);
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 0;
}

.nav__a::before {
  content: '[';
  left: 50%;
}

.nav__a::after {
  content: ']';
  right: 50%;
}

.nav__a.active {
  color: var(--linkActive);
}

.nav__a.active:before {
  left: -1.5rem;
  opacity: 1;
}

.nav__a.active::after {
  right: -1.5rem;
  opacity: 1;
}

.header__imagesWrapper {
  width: 85%;
  overflow: hidden;
  position: relative;
  margin: 0 0 4.5rem 0;
}

.header__imageFirst {
  width: 100%;
  mix-blend-mode: normal;
}

.header__imageSecend {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
}

.header__imageSecend {
  opacity: 0.66;
  mix-blend-mode: overlay;
}

/************************************************************** search **************************************************************/
.search {
  width: 100%;
}

.search__info {
  margin: 3.5rem 0 0 0;
  width: 55%;
  text-align: center;
  line-height: 3rem;
}

.slider {
  display: flex;
  position: relative;
  width: 82%;
  height: 65rem;
  box-shadow: 0 0.5rem 2rem var(--boxShadow);
  margin: 8rem 0 0 0;
  overflow: hidden;
  font-size: 3rem;
}

.devWrapper {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  transition: 0.5s;
}

.notActiveL {
  transform: translateX(-110%);
  opacity: 0;
}

.notActiveR {
  transform: translateX(110%);
  opacity: 0;
}


.devInfo {
  margin: 0 0 0 5%;
}

.devName {
  margin: 6rem 0 4rem 0;
  padding: 0 0 0 0;
  letter-spacing: 0.2rem;
}

.devInfoPrice,
.devYardage,
.devPrice,
.devfloor,
.devDestiny,
.devStatus {
  letter-spacing: 0.2rem;
  font-weight: lighter;
  margin: 2rem 0 2rem 0;
}

.devYardage {
  margin: 4rem 0 0 0;
}

.devStatus {
  margin: 2rem 0 5rem 0;
}

.devYardage,
.devPrice,
.devfloor,
.devDestiny,
.devStatus {
  font-size: 2rem;
}

.devInfoPrice {
  font-size: 1.4rem;
}

.askButton {
  position: relative;
  margin: 0 2rem 0 0;
}

.askButtonLink {
  width: 100%;
  height: 100%;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 7.5% 0 8%;
}

.drop {
  margin: 4rem 0 0 0;
  width: 45rem;
  height: 45rem;
}

.floor {
  width: 10.5rem;
}

.compass {
  height: 7rem;
  margin: 0 0 6.5rem 0;
}

.slider__dotsWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  background: var(--fontColor);
  margin: 0 0.4rem 0 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: var(--linkActive);
  transform: scale(1.4);
}

.slider__arrowLeft,
.slider__arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 8%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}

.slider__arrowLeft:hover,
.slider__arrowRight:hover {
  background: rgba(134, 166, 222, 0.2);
}

.slider__arrowLeft {
  left: 0;
  transform: rotate(180deg);
}

.slider__arrowRight {
  right: 0;
}

.errorApi {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/************************************************************** investments **************************************************************/
.investments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: var(--bgGray);
  margin: 22rem 0 0 0;
  padding-bottom: 10rem;
}

.investments__image {
  transform: translateY(-10rem);
  margin: 0 9.8% 0 0;
  width: 40%;
}

/************************************************************** forms (all)**************************************************************/

.form--investments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52rem;
  z-index: 1;
}

.form__info--investments {
  margin: 2rem 0 4.5rem 0;
}

.form__input--contact,
.form__input,
.form__label--contact,
.form__label {
  font-size: 1.7rem;
  font-weight: lighter;
}

.form__label--long {
  width: 100%;
}

.form__input,
.form__input--contact {
  height: 5.5rem;
  font-family: 'Lato', sans-serif;
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

.form__input {
  border-bottom: 0.1rem solid var(--fontColor);
  width: 100%;
}

.form__label {
  transform: translateY(3.7rem) scale(1);
  margin: 0 0 0 2rem;
}

.form__label,
.form__label--contact {
  transition: 0.3s;
}

.form__label--contact.active,
.form__label.active {
  transform: translateX(-11.5%) translateY(0) scale(0.75);
}

.form__checkboxWrapper {
  display: flex;
  position: relative;
  margin: 3rem 0 0 0;
}

.form__checkboxInfo,
.form__checkboxInfo--contact {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 0 0 0 3rem;
  cursor: pointer;
}

.form__checkboxInfo--contact::before,
.form__checkboxInfo::before {
  position: absolute;
  left: -3rem;
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  transition: 0.3s;
}

.form__checkboxInfo::before {
  border: 0.1rem solid var(--fontColor);
}

.form__checkboxInfo--contact.chec::before,
.form__checkboxInfo.chec::before {
  background: var(--linkActive);
}

.button--submit {
  margin: 3rem 0 0 0;
}

.form__checkbox {
  display: none;
}

.form__input--contact,
.form__label--contact {
  color: white;
}

.form__input--contact {
  border-bottom: 0.2rem white solid;
  z-index: 1;
  width: 100%;
}

.form__label--long {
  border-bottom: 0.2rem white solid;
  width: 100%
}

.form__label--contact,
.form__label {
  position: absolute;
  transform: translateY(2rem);
  margin: 0 0 0 2rem;
  z-index: -1;
}

.form__inputWrapper--margin {
  margin: 0 1.3vw 0 0;
}

.form__checkboxInfo--contact {
  color: white;
}

.form__checkboxInfo--contact::before {
  border: 0.1rem solid white;
}

.form__checkboxWrapper--contact {
  width: 90%;
  margin: 3rem 0 0 2.8rem;
}

.submitContact {
  margin: 4rem 0 0 3rem;
}

.form__error,
.form__error--checkbox,
.form__error--white,
.errorChecContact {
  position: absolute;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: 1;
  transition: 0.6s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  white-space: nowrap;
}

.form__error,
.form__error--checkbox {
  color: white;
  background: var(--bgBlack);
}

.form__error--white,
.errorChecContact {
  color: var(--bgBlack);
  background: white;
}

.form__error,
.form__error--white {
  top: -3rem;
}

.form__error--checkbox {
  top: -5rem;
}

.form__error.notActive,
.form__error--checkbox.notActive,
.form__error--white.notActive {
  opacity: 0;
  z-index: -1;
}

.form__error::after,
.form__error--checkbox::after,
.form__error--white::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1.5rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

.form__error::after,
.form__error--checkbox::after {
  border-top: 1.5rem solid var(--bgBlack);
}

.form__error--white::after {
  border-top: 1.5rem solid white;
}

.form__inputWrapper {
  width: 100%;
  position: relative;
}

.form__row {
  display: flex;
}

/************************************************************** benefits **************************************************************/
.benefits {
  display: flex;
  flex-direction: column;
  padding-bottom: 38rem;
  width: 88%;
}

.benefits__wrapperBenefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__image {
  width: 10rem;
  height: 10rem;
  margin: 13rem 0 5rem 0;
}

.benefits__title {
  letter-spacing: 0.2rem;
}

.benefits__wrapperLine {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/************************************************************** blog **************************************************************/
.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--bgGray);
  width: 100%;
}

.column--first {
  width: 40%;
}

.column--secend {
  width: 31%;
  transform: translateY(-25rem);
  margin: 0 0 0 9.8%;
}

.column__imagesWrapper,
.column__imagesWrapper {
  position: relative;
  width: 100%;
  max-width: 77.4rem;
  overflow: hidden;
}

.column__image--one,
.column__image--three {
  position: relative;
  width: 100%;
  mix-blend-mode: normal;
}

.column__image--four,
.column__image--two {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.66;
  mix-blend-mode: overlay;
}

.column__title {
  line-height: 3rem;
  margin: 3rem 0 2rem 0;
  width: 70%;
}

.figureLine,
.figureLine--white {
  width: 5rem;
  height: 0.2rem;
}

.figureLine {
  background: var(--fontColor);
}

.column__info--first,
.column__info--secend {
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
}

.column__info--first {
  width: 70%;
}

.column__info--secend {
  width: 90%;
}

/************************************************************** more about us **************************************************************/
.moreAbout {
  width: 100%;
}

.moreAbout__title {
  letter-spacing: 0.4rem;
  margin: 10.5rem 0 2rem 0;
}

.moreAbout__titleTwo {
  letter-spacing: 0.2rem;
  margin: 4.5rem 0 4rem 0;
}

.moreAbout__paragraph {
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin: 11rem 0 11rem 0;
  width: 75%;
}

.statistics__statisticWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}

.statistics__info--one,
.statistics__info--two,
.statistics__info--three {
  margin: 2.5rem 0 0 0;
  text-align: center;
  font-weight: lighter;
}

.statistics__info--three {
  width: 80%;
}

.statistics__number {
  display: flex;
  flex-direction: row;
  height: 17rem;
  overflow: hidden;
}

.statistics__digit {
  font-size: 15rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.startAnimation {
  height: max-content;
  animation: numberAnimation 1s both;
}

@keyframes numberAnimation {
  0% {
    transform: translateY(0%)
  }

  100% {
    transform: translateY(calc(-100% + 17rem))
  }
}

/************************************************************** contact **************************************************************/
.contact {
  background: var(--bgBlack);
  width: 100%;
}

.contact__title {
  letter-spacing: 0.4rem;
  color: white;
  margin: 10rem 0 2rem 0;
}

.figureLine--white {
  background: white;
}

.contact__titleTwo {
  letter-spacing: 0.3rem;
  margin: 4rem 0 4rem 0;
}

.contact__title,
.contact__titleTwo,
.contact__paragraph {
  color: white;
}

.contact__paragraph {
  letter-spacing: 0.2rem;
  margin: 0 0 4rem 0;
}

.form--contact {
  width: 47.9%;
  margin: 0 0 10rem 0;
  z-index: 1;
}

/************************************************************** footer **************************************************************/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
}

.footer__copyright {
  margin: 0 0 0 8.85%;
}

.footer__policy {
  margin: 0 8.85% 0 0;
  text-decoration: none;
  color: var(--fontColor);
}

.footer__copyright,
.footer__policy {
  font-size: 1.4rem;
  font-weight: lighter;
}

.footer__policy:hover {
  color: var(--linkActive);
}

/****************************************************************************************************************************************/
/************************************************************** 1400 media **************************************************************/
/****************************************************************************************************************************************/
@media (max-width: 1400px) {
  .statistics {
    width: 100%;
  }

  .statistics__statisticWrapper {
    width: 34rem;
  }

  .statistics__info--one,
  .statistics__info--two,
  .statistics__info--three {
    width: 80%;
    font-size: 1.4rem;
  }

  .slider {
    height: 47rem;
  }

  .devInfoPrice,
  .devYardage,
  .devPrice,
  .devfloor,
  .devDestiny,
  .devStatus {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0 1rem 0;
  }

  .drop {
    width: 27rem;
    height: 27rem;
  }

  .imgWrapper {
    margin: 0 5% 0 5%;
  }

  .devStatus {
    margin: 1rem 0 2.5rem 0;
  }

  .buttonSecend {
    font-size: 1.3rem;
  }

}

/****************************************************************************************************************************************/
/************************************************************** 1025 media **************************************************************/
/****************************************************************************************************************************************/
@media (max-width: 1025px) {

  /************************************************************** uniwersal **************************************************************/
  h1,
  h2 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }

  .nav {
    height: 7rem;
  }

  /************************************************************** header **************************************************************/
  header {
    margin: 8rem 0 2rem 0;
  }

  .nav.hide {
    transform: translateY(-30rem);
  }

  .nav__ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 5rem;
    margin: 0;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    transition: 0.3s;
  }

  .nav__ul.active {
    transform: translateX(30rem)
  }

  .nav__li {
    padding: 0.5rem;
  }

  .nav__a {
    line-height: 3.5rem;
    margin: 0 0 0 0;
  }

  .nav__logo,
  .nav__logoLink {
    height: 5rem;
  }

  .nav__a::after {
    display: none;
  }

  .nav__a.active {
    color: var(--fontColor);
  }

  .nav__a.active::after,
  .nav__a.active::before {
    display: none;
  }

  .nav__hamburger {
    display: block;
    position: relative;
    width: 4rem;
    height: 3rem;
    z-index: 1;
    cursor: pointer;
    margin: 0 8% 0 0;
    overflow: hidden;
  }

  .nav__hamburgerLine,
  .nav__hamburger::after,
  .nav__hamburger::before {
    width: 100%;
    height: 0.3rem;
    background: black;
  }

  .nav__hamburger::after,
  .nav__hamburger::before {
    transition: 0.3s;
  }

  .nav__hamburgerLine {
    transition: 0.1s;
  }

  .nav__hamburgerLine.active {
    transform: scaleY(0);
  }

  .nav__hamburger::after,
  .nav__hamburger::before {
    position: absolute;
    content: '';
    display: block;
  }

  .nav__hamburger::after {
    top: calc(50% - 0.15rem);
  }

  .nav__hamburger::before {
    top: calc(100% - 0.3rem);
  }

  .nav__hamburger.active::after {
    top: 50%;
    transform: translateY(-50%) rotate(225deg);
  }

  .nav__hamburger.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-225deg);
  }

  .header__imagesWrapper {
    width: 95%;
    margin: 0 0 0 0;
  }

  .header__imageFirst,
  .header__imageSecend {
    width: 100%;
  }

  /************************************************************** search **************************************************************/
  .search__info {
    width: 95%;
    line-height: 2.5rem;
    margin: 3rem 0 0 0;
  }

  .slider {
    margin: 5rem 0 0 0;
    width: 95%;
    height: 30rem;
  }

  .slider {
    height: 32rem;
  }

  .imgWrapper {
    align-items: center;
  }

  .devName {
    margin: 2rem 0 2rem 0;
    text-align: left;
  }

  .drop {
    width: 18rem;
    height: 18rem;
  }

  .buttonSecend {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }

  .askButton {
    margin: 0 1rem 0 0;
  }

  .compass {
    width: 3rem;
  }

  /************************************************************** investment **************************************************************/
  .investments {
    margin: 6rem 0 0 0;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .investments__image {
    transform: translateY(0);
    width: 70%;
    margin: 0 0 2rem 0;
  }

  /************************************************************** forms (all) **************************************************************/
  .form--investments {
    width: 70%;
  }

  .form--contact {
    width: 70%;
    margin: 0 0 5rem 0;
  }

  .contact__paragraph,
  .moreAbout__paragraph {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 0 0 2rem 0;
    width: 80%;
    text-align: center;
  }

  .contact__title,
  .moreAbout__title {
    margin: 4rem 0 2rem 0;
  }

  .contact__titleTwo,
  .moreAbout__titleTwo {
    margin: 2rem 0 2rem 0;
  }

  .form__label,
  .form__label--contact {
    font-size: 1.3rem;
  }

  .statistics {
    margin: 3rem 0 5rem 0
  }

  .form__info--investments {
    text-align: center;
    margin: 2rem 0 1rem 0;
  }

  /************************************************************** benefits **************************************************************/
  .benefits {
    width: 95%;
    padding-bottom: 5rem;
  }

  .benefits__title {
    font-size: 1.6rem;
    text-align: center;
  }

  .benefits__image {
    margin: 5rem 0 3rem 0;
  }

  /************************************************************** blog **************************************************************/
  .blog {
    padding: 0 0 3rem 0;
  }

  .column--secend {
    margin: 3rem 0 0 0;
    transform: translateY(0);
  }

  .column--first,
  .column--secend {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 0 0;
  }

  .column--first {
    max-width: 545rem;
  }

  .column--secend {
    max-width: 35rem;
    margin: 0 0 0 4%;
  }


  .column__title {
    text-align: center;
    width: 95%;
  }

  .column__info--first,
  .column__info--secend {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__copyright,
  .footer__policy {
    font-size: 1.2rem;
  }

  /************************************************************** more about us **************************************************************/
  .statistics__number {
    height: 11rem;
  }

  .statistics__digit {
    font-size: 10rem;
  }

  @keyframes numberAnimation {
    0% {
      transform: translateY(0%)
    }

    100% {
      transform: translateY(calc(-100% + 11rem))
    }
  }

  /************************************************************** footer **************************************************************/
  .footer__copyright {
    margin: 0 0 0 4%;
  }

  .footer__policy {
    margin: 0 4% 0 0;
  }
}

/****************************************************************************************************************************************/
/************************************************************** 680 media **************************************************************/
/****************************************************************************************************************************************/
@media (max-width: 680px) {
  .header__imagesWrapper {
    width: 100%;
  }

  .investments__image {
    width: 95%;
  }

  .form--investments {
    width: 95%;
  }

  .form--contact {
    width: 95%;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
  }

  .column__title {
    width: 95%
  }

  .column__info--first,
  .column__info--secend {
    width: 90%;
  }

  .footer__copyright,
  .footer__policy {
    font-size: 1rem;
  }

  .footer__copyright {
    margin: 0 0 0 2%;
  }

  .footer__policy {
    margin: 0 2% 0 0;
  }

  .devWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .devInfo {
    order: 3;
    margin: 0 0 3rem 0;
    align-items: center;
  }

  .devStatus {
    margin: 1rem 0 1rem 0;
  }

  .devName {
    margin: 1rem 0 1rem 0;
    font-size: 2.5rem
  }

  .slider {
    height: 60rem;
  }

  .slider {
    width: 80%;
  }

  .imgWrapper {
    flex-direction: row;
    margin: 0 0 0 0;
  }

  .compass {
    width: 1.5rem;
    margin: 0 2rem 0 0;
  }

  .drop {
    margin: 0 0 0 0;
  }

  .floor {
    width: 9rem;
    height: 9rem;
  }

  .buttonSecend:hover::after,
  .buttonSecend:hover::before,
  .button--white:hover::after,
  .button--white:hover::before {
    transform: translateY(0%);
  }
}

/****************************************************************************************************************************************/
/************************************************************** 500 media **************************************************************/
/****************************************************************************************************************************************/
@media (max-width: 500px) {
  .benefits {
    flex-direction: row;

  }

  .benefits__wrapperLine {
    flex-direction: column;
  }

  .benefits__image {
    width: 6rem;
    height: 6rem;
    margin: 4rem 0 1rem 0;
  }

  .benefits__title {
    font-size: 1rem;
    width: 70%;
  }

  .slider {
    width: 95%;
  }

  .statistics {
    margin: 1rem 0 5rem 0
  }

  .statistics__number {
    height: 8rem;
  }

  .statistics__digit {
    font-size: 6rem;
  }

  .form__error,
  .form__error--checkbox,
  .form__error--white,
  .errorChecContact {
    font-size: 1.2rem;
  }

  .blog {
    flex-direction: column;
  }

  .column--first,
  .column--secend {
    width: 95%;
  }

  .column--secend {
    margin: 4rem 0 0 0;
    max-width: 95%;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7rem;
  }

  .footer__copyright {
    margin: 0 0 1.5rem 0;
  }

  @keyframes numberAnimation {
    0% {
      transform: translateY(0%)
    }

    100% {
      transform: translateY(calc(-100% + 8rem))
    }
  }
}