html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

@mixin lines {
    width: 5rem;
    height: 0.2rem;
}

.figure-line {
    @include lines();
    background: $fontColor;

    &--white {
        @include lines();
        background: white;
    }
}