.form {
    &--investments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 52rem;
        z-index: 1;

        @media (max-width: 1025px) {
            width: 70%;
        }

        @media (max-width: 680px) {
            width: 95%;
        }
    }

    &--contact {
        width: 47.9%;
        margin: 0 0 10rem 0;
        z-index: 1;

        @media (max-width: 1025px) {
            width: 70%;
            margin: 0 0 5rem 0;
        }

        @media (max-width: 680px) {
            width: 95%;
        }
    }

    &__info {
        margin: 2rem 0 4.5rem 0;

        @media (max-width: 1025px) {
            text-align: center;
            margin: 2rem 0 1rem 0;
        }
    }

    &__input {
        font-size: 1.7rem;
        font-weight: lighter;
        height: 5.5rem;
        font-family: 'Lato', sans-serif;
        background: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        width: 100%;
        border-bottom: 0.1rem solid $fontColor;

        &--contact {
            color: white;
            border-bottom: 0.2rem white solid;
            z-index: 1;
        }
    }

    &__label {
        position: absolute;
        font-weight: lighter;
        font-size: 1.7rem;
        margin: 0 0 0 2rem;
        z-index: -1;
        transition: transform 0.3s;
        transform: translateY(2rem);

        @media (max-width: 1025px) {
            font-size: 1.3rem;
        }

        &--active {
            transform: translateX(-11.5%) translateY(0) scale(0.75);
        }

        &--contact {
            color: white;
        }
    }

    &__checkbox-wrapper {
        display: flex;
        position: relative;
        margin: 3rem 0 0 0;
    }

    &__checkbox-info {
        position: relative;
        display: block;
        font-size: 1.4rem;
        font-weight: lighter;
        margin: 0 0 0 2.5rem;
        cursor: pointer;

        &--contact {
            color: white;
        }

        @media (max-width: 500px) {
            font-size: 1.3rem;
        }
    }

    &__checkbox {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.6rem;
            height: 1.6rem;
            border: 0.1rem solid $fontColor;
            background: white;
        }

        &:checked::before {
            background-image: url(../images/checked_white.png);
            background-position: center;
            background-size: contain;
        }

        &--contact {
            &::before {
                border: 0.1rem solid white;
                background: $bgBlack;
            }

            &:checked::before {
                background-image: url(../images/checked_black.png);
                background-position: center;
                background-size: contain;
            }
        }
    }

    &__input-wrapper {
        display: block;
        position: relative;
        width: 100%;

        &--margin {
            margin: 0 1.3vw 0 0;
        }
    }

    &__error {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        padding: 0.4rem 0.8rem 0.4rem 0.3rem;
        border-radius: 0.4rem;
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        top: -3rem;
        animation: create 0.6s;
        color: $bgGray;
        background: $bgBlack;
        ;

        @media (max-width: 500px) {
            font-size: 1.2rem;
            padding: 0.3rem 0.7rem 0.3rem 0.2rem;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -1.5rem;
            left: 2rem;
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-top: 1.5rem solid $bgBlack;
        }

        &::before {
            content: '';
            display: block;
            width: 3.2rem;
            height: 3.2rem;
            margin: 0 0.3rem 0 0;
            background-image: url(../images/error_white.png);
            background-position: center;
            background-size: cover;
        }

        &--white {
            color: $bgBlack;
            background: white;

            &::after {
                border-top: 1.5rem solid white;
                ;
            }

            &::before {
                background-image: url(../images/error_black.png);
            }
        }

        &--checkbox {
            top: -5rem;
        }
    }

    &__row {
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &__button-wrapper {
        display: flex;
        align-items: flex-end;
    }

    &__status {
        position: relative;
        display: block;
        width: fit-content;
        color: $bgGray;
        text-align: center;
        background-color: $linkActive;
        padding: 0.9rem;
        margin: 0 0 0 2rem;
        border-radius: 1rem;
        opacity: 0;
        transition: opacity 0.6s;

        &::after {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 0.7rem solid transparent;
            border-right: 1.3rem solid $linkActive;
            border-bottom: 0.7rem solid transparent;
        }

        &--contact {
            color: $bgBlack;
        }

        &--active {
            opacity: 1;
        }

    }
}


@keyframes create {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}