@mixin info {
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-weight: lighter;
}

@mixin info1400 {
    width: 80%;
    font-size: 1.4rem;
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 11rem 0 11rem 0;
    width: 75%;

    @media (max-width: 1400px) {
        width: 100%;
    }

    @media (max-width: 1025px) {
        margin: 3rem 0 5rem 0
    }

    @media (max-width: 680px) {
        flex-direction: column;
        align-items: center;
    }

    &__statistic-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40rem;

        @media (max-width: 1400px) {
            width: 34rem;
        }
    }

    &__info--one {
        @include info();

        @media (max-width: 1400px) {
            @include info1400();
        }
    }

    &__info--two {
        @include info();

        @media (max-width: 1400px) {
            @include info1400();
        }
    }

    &__info--three {
        @include info();
        width: 80%;

        @media (max-width: 1400px) {
            @include info1400();
        }
    }

    &__number {
        display: flex;
        flex-direction: row;
        height: 17rem;
        overflow: hidden;

        @media (max-width: 1025px) {
            height: 11rem;
        }

        @media (max-width: 500px) {
            height: 8rem;
        }
    }

    &__digit {
        font-size: 15rem;
        color: black;
        font-weight: bold;
        text-align: center;

        @media (max-width: 1025px) {
            font-size: 10rem;
        }

        @media (max-width: 500px) {
            font-size: 6rem;
        }
    }

    &__digit-wrapper {
        height: fit-content;
    }

    &__digit-wrapper--animate {
        animation: numberAnimation 1s both;
    }
}

@keyframes numberAnimation {
    0% {
        transform: translateY(0%)
    }

    100% {
        transform: translateY(calc(-100% + 17rem))
    }
}

@media (max-width: 1025px) {

    @keyframes numberAnimation {
        0% {
            transform: translateY(0%)
        }

        100% {
            transform: translateY(calc(-100% + 11rem))
        }
    }
}

@media (max-width: 500px) {


    @keyframes numberAnimation {
        0% {
            transform: translateY(0%)
        }

        100% {
            transform: translateY(calc(-100% + 8rem))
        }
    }
}