.search {
    width: 100%;

    &__info {
        margin: 3.5rem 0 0 0;
        width: 55%;
        text-align: center;
        line-height: 3rem;
    }

    @media (max-width: 1025px) {
        width: 95%;
        line-height: 2.5rem;
        margin: 3rem 0 0 0;
    }
}