@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1,
h2 {
  font-size: 4rem;
  font-weight: lighter;
  padding: 0 2rem 0 2rem; }

h3 {
  font-size: 2rem;
  font-weight: normal; }

h4 {
  font-size: 1.7rem;
  font-weight: bold; }

p {
  font-size: 1.8rem; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-x: hidden; }

@media (max-width: 1025px) {
  h1,
  h2 {
    font-size: 3rem;
    text-align: center; }
  p {
    font-size: 1.5rem; } }

.figure-line {
  width: 5rem;
  height: 0.2rem;
  background: #000000; }
  .figure-line--white {
    width: 5rem;
    height: 0.2rem;
    background: white; }

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 38rem;
  width: 88%; }
  @media (max-width: 1025px) {
    .benefits {
      width: 95%;
      padding-bottom: 5rem; } }
  @media (max-width: 500px) {
    .benefits {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .benefits__wrapper-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .benefits__image {
    width: 10rem;
    height: 10rem;
    margin: 13rem 0 5rem 0; }
    @media (max-width: 1025px) {
      .benefits__image {
        margin: 5rem 0 3rem 0; } }
    @media (max-width: 500px) {
      .benefits__image {
        width: 6rem;
        height: 6rem;
        margin: 4rem 0 1rem 0; } }
  .benefits__title {
    letter-spacing: 0.2rem; }
    @media (max-width: 1025px) {
      .benefits__title {
        font-size: 1.6rem;
        text-align: center; } }
    @media (max-width: 500px) {
      .benefits__title {
        font-size: 1rem;
        width: 70%; } }
  .benefits__wrapper-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; }
    @media (max-width: 500px) {
      .benefits__wrapper-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F8;
  width: 100%; }
  @media (max-width: 1025px) {
    .blog {
      padding: 0 0 3rem 0; } }
  @media (max-width: 500px) {
    .blog {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.column--first {
  width: 40%; }
  @media (max-width: 1025px) {
    .column--first {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 500px) {
    .column--first {
      margin: 4rem 0 0 0;
      width: 95%; } }

.column--secend {
  width: 31%;
  -webkit-transform: translateY(-25rem);
          transform: translateY(-25rem);
  margin: 0 0 0 9.8%; }
  @media (max-width: 1025px) {
    .column--secend {
      margin: 0 0 0 4%;
      max-width: 35rem;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 500px) {
    .column--secend {
      margin: 4rem 0 0 0;
      width: 95%;
      max-width: 95%; } }

.column__images-wrapper {
  position: relative;
  width: 100%;
  max-width: 77.4rem;
  overflow: hidden; }

.column__image--one {
  position: relative;
  width: 100%;
  mix-blend-mode: normal; }

.column__image--three {
  position: relative;
  width: 100%;
  mix-blend-mode: normal; }

.column__image--two {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.66;
  mix-blend-mode: overlay; }

.column__image--four {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.66;
  mix-blend-mode: overlay; }

.column__title {
  line-height: 3rem;
  margin: 3rem 0 2rem 0;
  width: 70%; }
  @media (max-width: 1025px) {
    .column__title {
      text-align: center;
      width: 95%; } }
  @media (max-width: 680px) {
    .column__title {
      width: 95%; } }

.column__info--first {
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
  width: 70%; }
  @media (max-width: 1025px) {
    .column__info--first {
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      max-width: 545rem; } }
  @media (max-width: 680px) {
    .column__info--first {
      width: 90%; } }
  @media (max-width: 500px) {
    .column__info--first {
      width: 95%; } }

.column__info--secend {
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
  width: 90%; }
  @media (max-width: 1025px) {
    .column__info--secend {
      width: 80%;
      text-align: center;
      font-size: 1.5rem; } }
  @media (max-width: 680px) {
    .column__info--secend {
      width: 90%; } }
  @media (max-width: 500px) {
    .column__info--secend {
      width: 95%; } }

.contact {
  background: #1F2022;
  width: 100%; }
  .contact__title {
    letter-spacing: 0.4rem;
    margin: 10.5rem 0 2rem 0;
    color: white; }
    @media (max-width: 1025px) {
      .contact__title {
        margin: 4rem 0 2rem 0; } }
  .contact__title-two {
    letter-spacing: 0.4rem;
    margin: 4.5rem 0 2rem 0;
    color: white; }
    @media (max-width: 1025px) {
      .contact__title-two {
        margin: 2rem 0 2rem 0; } }
  .contact__paragraph {
    color: white;
    letter-spacing: 0.2rem;
    margin: 0 0 4rem 0; }
    @media (max-width: 1025px) {
      .contact__paragraph {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        margin: 0 0 2rem 0;
        width: 80%;
        text-align: center; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10rem; }
  @media (max-width: 500px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 7rem; } }
  .footer__copyright {
    margin: 0 0 0 8.85%;
    font-size: 1.4rem;
    font-weight: lighter; }
    @media (max-width: 1025px) {
      .footer__copyright {
        margin: 0 0 0 4%; } }
    @media (max-width: 680px) {
      .footer__copyright {
        margin: 0 0 0 2%; } }
    @media (max-width: 680px) {
      .footer__copyright {
        font-size: 1rem; } }
    @media (max-width: 500px) {
      .footer__copyright {
        margin: 0 0 1.5rem 0;
        text-align: center; } }
  .footer__policy {
    margin: 0 8.85% 0 0;
    text-decoration: none;
    color: #000000;
    font-size: 1.4rem;
    font-weight: lighter; }
    .footer__policy:hover {
      color: #86a6de; }
    @media (max-width: 1025px) {
      .footer__policy {
        margin: 0 4% 0 0; } }
    @media (max-width: 680px) {
      .footer__policy {
        margin: 0 2% 0 0; } }
    @media (max-width: 680px) {
      .footer__policy {
        font-size: 1rem; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15rem 0 0 0; }
  @media (max-width: 1025px) {
    .header {
      margin: 8rem 0 2rem 0; } }
  .header__images-wrapper {
    width: 85%;
    overflow: hidden;
    position: relative;
    margin: 0 0 4.5rem 0; }
    @media (max-width: 1025px) {
      .header__images-wrapper {
        width: 95%;
        margin: 0 0 0 0; } }
    @media (max-width: 680px) {
      .header__images-wrapper {
        width: 100%; } }
  .header__image-first {
    width: 100%;
    mix-blend-mode: normal; }
    @media (max-width: 1025px) {
      .header__image-first {
        width: 100%; } }
  .header__image-secend {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.66;
    mix-blend-mode: overlay; }
    @media (max-width: 1025px) {
      .header__image-secend {
        width: 100%; } }

.investments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #F8F8F8;
  margin: 22rem 0 0 0;
  padding-bottom: 10rem; }
  @media (max-width: 1025px) {
    .investments {
      margin: 6rem 0 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 3rem; } }
  .investments__image {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    margin: 0 9.8% 0 0;
    width: 40%; }
    @media (max-width: 1025px) {
      .investments__image {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        width: 70%;
        margin: 0 0 2rem 0; } }
    @media (max-width: 680px) {
      .investments__image {
        width: 95%; } }

.more-about {
  width: 100%; }
  .more-about__title {
    letter-spacing: 0.4rem;
    margin: 10.5rem 0 2rem 0; }
    @media (max-width: 1025px) {
      .more-about__title {
        margin: 4rem 0 2rem 0; } }
  .more-about__title-two {
    letter-spacing: 0.4rem;
    margin: 4.5rem 0 2rem 0; }
    @media (max-width: 1025px) {
      .more-about__title-two {
        margin: 2rem 0 2rem 0; } }
  .more-about__paragraph {
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem; }
    @media (max-width: 1025px) {
      .more-about__paragraph {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        margin: 0 0 2rem 0;
        width: 80%;
        text-align: center; } }

.search {
  width: 100%; }
  .search__info {
    margin: 3.5rem 0 0 0;
    width: 55%;
    text-align: center;
    line-height: 3rem; }
    @media (max-width: 1025px) {
      .search__info {
        width: 95%;
        line-height: 2.5rem;
        margin: 3rem 0 0 0; } }

.button {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer; }
  .button::after, .button::before {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 200%;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .button::before {
    content: '';
    top: 100%; }
  .button::after {
    top: 0; }
  .button:hover::after, .button:hover::before {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
    @media (max-width: 680px) {
      .button:hover::after, .button:hover::before {
        -webkit-transform: translateY(0%);
                transform: translateY(0%); } }
  .button--white {
    position: relative;
    width: 15rem;
    height: 4rem;
    background: white;
    color: white;
    -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden; }
  .button--black {
    position: relative;
    padding: 0.8rem 3rem 0.8rem 3rem;
    background: black;
    overflow: hidden; }
    @media (max-width: 1400px) {
      .button--black {
        font-size: 1.3rem; } }
    @media (max-width: 1025px) {
      .button--black {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem; } }
  .button--submit {
    margin: 3rem 0 0 0; }
    .button--submit::after {
      content: 'Wyślij';
      color: #000000; }
    .button--submit::before {
      background: url(../images/send.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.5rem; }
  .button--more::after {
    content: 'Więcej';
    color: #000000; }
  .button--more::before {
    background: url(../images/more.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem; }
  .button--ask {
    margin: 0 2rem 0 0; }
    @media (max-width: 1025px) {
      .button--ask {
        margin: 0 1rem 0 0; } }
    .button--ask::after {
      content: 'Zapytaj';
      color: white; }
    .button--ask::before {
      background: url(../images/contact.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.5rem; }
  .button--download::after {
    content: 'Pobierz plan';
    color: white; }
  .button--download::before {
    background: url(../images/download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.2rem; }
  .button__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100; }
  .button--contact {
    margin: 4rem 0 0 0; }

.form--investments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52rem;
  z-index: 1; }
  @media (max-width: 1025px) {
    .form--investments {
      width: 70%; } }
  @media (max-width: 680px) {
    .form--investments {
      width: 95%; } }

.form--contact {
  width: 47.9%;
  margin: 0 0 10rem 0;
  z-index: 1; }
  @media (max-width: 1025px) {
    .form--contact {
      width: 70%;
      margin: 0 0 5rem 0; } }
  @media (max-width: 680px) {
    .form--contact {
      width: 95%; } }

.form__info {
  margin: 2rem 0 4.5rem 0; }
  @media (max-width: 1025px) {
    .form__info {
      text-align: center;
      margin: 2rem 0 1rem 0; } }

.form__input {
  font-size: 1.7rem;
  font-weight: lighter;
  height: 5.5rem;
  font-family: 'Lato', sans-serif;
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
  border-bottom: 0.1rem solid #000000; }
  .form__input--contact {
    color: white;
    border-bottom: 0.2rem white solid;
    z-index: 1; }

.form__label {
  position: absolute;
  font-weight: lighter;
  font-size: 1.7rem;
  margin: 0 0 0 2rem;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem); }
  @media (max-width: 1025px) {
    .form__label {
      font-size: 1.3rem; } }
  .form__label--active {
    -webkit-transform: translateX(-11.5%) translateY(0) scale(0.75);
            transform: translateX(-11.5%) translateY(0) scale(0.75); }
  .form__label--contact {
    color: white; }

.form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 3rem 0 0 0; }

.form__checkbox-info {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 0 0 0 3rem;
  cursor: pointer; }
  .form__checkbox-info::before {
    content: '';
    position: absolute;
    left: -3rem;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 0.1rem solid #000000; }
  .form__checkbox-info--chec::before {
    background: #86a6de; }
  .form__checkbox-info--contact {
    color: white; }
    .form__checkbox-info--contact::before {
      border: 0.1rem solid white; }

.form__checkbox {
  display: none; }

.form__input-wrapper {
  width: 100%;
  position: relative; }
  .form__input-wrapper--margin {
    margin: 0 1.3vw 0 0; }

.form__error {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.8rem;
  font-size: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  top: -3rem;
  -webkit-animation: create 0.6s;
          animation: create 0.6s;
  color: white;
  background: rgba(0, 0, 0, 0.6); }
  @media (max-width: 500px) {
    .form__error {
      font-size: 1.2rem; } }
  .form__error::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.5rem;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.5rem solid rgba(0, 0, 0, 0.6); }
  .form__error--white {
    color: #1F2022;
    background: rgba(255, 255, 255, 0.7); }
    .form__error--white::after {
      border-top: 1.5rem solid rgba(255, 255, 255, 0.7); }
  .form__error--checkbox {
    top: -5rem; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.form__status {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-align: center;
  background-color: #86a6de;
  padding: 0.9rem;
  margin: 0 0 0 2rem;
  border-radius: 1rem;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s; }
  .form__status::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.7rem solid transparent;
    border-right: 1.3rem solid #86a6de;
    border-bottom: 0.7rem solid transparent; }
  .form__status--active {
    opacity: 1; }

@-webkit-keyframes create {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes create {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 2rem; }
  .loader--hidden {
    display: none; }
  .loader__quadrat {
    -webkit-animation: animateQuadrat 0.7s infinite linear;
            animation: animateQuadrat 0.7s infinite linear;
    width: 2rem;
    height: 2rem;
    background: #86a6de;
    z-index: 1;
    margin: 0 0 0.8rem 0; }
  .loader__shadow {
    -webkit-animation: animateShadow 0.7s infinite linear;
            animation: animateShadow 0.7s infinite linear;
    border-radius: 50%;
    width: 2.8rem;
    height: 1.5rem;
    background: lightgray; }

@-webkit-keyframes animateQuadrat {
  0% {
    -webkit-transform: translateY(0.3rem) rotate(0deg);
            transform: translateY(0.3rem) rotate(0deg); }
  50% {
    -webkit-transform: translateY(1.3rem) rotate(90deg);
            transform: translateY(1.3rem) rotate(90deg); }
  100% {
    -webkit-transform: translateY(0.3rem) rotate(180deg);
            transform: translateY(0.3rem) rotate(180deg); } }

@keyframes animateQuadrat {
  0% {
    -webkit-transform: translateY(0.3rem) rotate(0deg);
            transform: translateY(0.3rem) rotate(0deg); }
  50% {
    -webkit-transform: translateY(1.3rem) rotate(90deg);
            transform: translateY(1.3rem) rotate(90deg); }
  100% {
    -webkit-transform: translateY(0.3rem) rotate(180deg);
            transform: translateY(0.3rem) rotate(180deg); } }

@-webkit-keyframes animateShadow {
  0% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6); }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6); } }

@keyframes animateShadow {
  0% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6); }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  100% {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6); } }

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
  width: 100%;
  top: 0;
  z-index: 100;
  background: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .nav--hide {
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem); }
  .nav__hamburger {
    display: none; }
  .nav__logo-link {
    height: 8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 8%; }
  .nav__logo {
    height: 8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 0 8%; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 8.8% 0 0; }
  .nav__menu-link {
    letter-spacing: 0.2rem;
    margin: 0 0 0 2.6vw;
    font-size: 1.7rem;
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    text-align: center; }
    .nav__menu-link::after {
      display: block;
      position: absolute;
      color: #86a6de;
      font-size: 3rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      content: ']';
      right: 50%; }
    .nav__menu-link::before {
      display: block;
      position: absolute;
      color: #86a6de;
      font-size: 3rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      content: '[';
      left: 50%; }
    .nav__menu-link:hover {
      color: #86a6de; }
      .nav__menu-link:hover::before {
        left: -1.5rem;
        opacity: 1; }
      .nav__menu-link:hover::after {
        right: -1.5rem;
        opacity: 1; }

@media (max-width: 1025px) {
  .nav {
    height: 7rem; }
    .nav--hide {
      -webkit-transform: translateY(-30rem);
              transform: translateY(-30rem); }
    .nav__menu {
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      right: 0;
      top: 5rem;
      margin: 0;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 1rem;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
      .nav__menu--active {
        -webkit-transform: translateX(30rem);
                transform: translateX(30rem); }
    .nav__menu-item {
      padding: 0.5rem; }
    .nav__menu-link {
      line-height: 3.5rem;
      margin: 0 0 0 0; }
      .nav__menu-link:hover {
        color: #000000; }
      .nav__menu-link::after {
        display: none; }
      .nav__menu-link::before {
        display: none; }
    .nav__logo {
      height: 5rem; }
    .nav__logo-link {
      height: 5rem; }
    .nav__hamburger {
      display: block;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      width: 4rem;
      height: 3rem;
      z-index: 1;
      margin: 0 8% 0 0; }
      .nav__hamburger-line {
        width: 100%;
        height: 0.3rem;
        background: black;
        -webkit-transition: -webkit-transform 0.1s;
        transition: -webkit-transform 0.1s;
        transition: transform 0.1s;
        transition: transform 0.1s, -webkit-transform 0.1s; }
        .nav__hamburger-line--active {
          -webkit-transform: scaleY(0);
                  transform: scaleY(0); }
      .nav__hamburger::after {
        width: 100%;
        height: 0.3rem;
        background: black;
        content: '';
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        display: block;
        top: calc(50% - 0.15rem); }
      .nav__hamburger::before {
        width: 100%;
        height: 0.3rem;
        background: black;
        content: '';
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        display: block;
        top: calc(100% - 0.3rem); }
      .nav__hamburger--active::after {
        -webkit-transform: translateY(-50%) rotate(225deg);
                transform: translateY(-50%) rotate(225deg);
        top: 50%; }
      .nav__hamburger--active::before {
        -webkit-transform: translateY(-50%) rotate(-225deg);
                transform: translateY(-50%) rotate(-225deg);
        top: 50%; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 82%;
  height: 65rem;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  margin: 8rem 0 0 0;
  overflow: hidden;
  font-size: 3rem; }
  @media (max-width: 1400px) {
    .slider {
      height: 47rem; } }
  @media (max-width: 1025px) {
    .slider {
      margin: 5rem 0 0 0;
      width: 95%;
      height: 30rem;
      height: 32rem; } }
  @media (max-width: 680px) {
    .slider {
      height: 60rem;
      width: 80%; } }
  @media (max-width: 500px) {
    .slider {
      width: 95%; } }
  .slider__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .slider__slide--left {
      -webkit-transform: translateX(-110%);
              transform: translateX(-110%);
      opacity: 0; }
    .slider__slide--right {
      -webkit-transform: translateX(110%);
              transform: translateX(110%);
      opacity: 0; }
    @media (max-width: 680px) {
      .slider__slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .slider__info-wrapper {
    margin: 0 0 0 5%; }
    @media (max-width: 680px) {
      .slider__info-wrapper {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin: 0 0 3rem 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .slider__local-name {
    margin: 6rem 0 4rem 0;
    padding: 0 0 0 0;
    letter-spacing: 0.2rem; }
    @media (max-width: 1400px) {
      .slider__local-name {
        margin: 6rem 0 2rem 0;
        font-size: 3.2rem; } }
    @media (max-width: 1025px) {
      .slider__local-name {
        margin: 2rem 0 2rem 0;
        text-align: left; } }
    @media (max-width: 680px) {
      .slider__local-name {
        margin: 1rem 0 1rem 0;
        font-size: 2.5rem; } }
  .slider__local-info-price {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 1.4rem; }
    @media (max-width: 1400px) {
      .slider__local-info-price {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0; } }
    @media (max-width: 1025px) {
      .slider__local-info-price {
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem 0; } }
  .slider__local-yardage {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    margin: 4rem 0 0 0; }
    @media (max-width: 1400px) {
      .slider__local-yardage {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0; } }
    @media (max-width: 1025px) {
      .slider__local-yardage {
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem 0; } }
  .slider__local-price {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 2rem; }
    @media (max-width: 1400px) {
      .slider__local-price {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0; } }
    @media (max-width: 1025px) {
      .slider__local-price {
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem 0; } }
  .slider__local-floor {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 2rem; }
    @media (max-width: 1400px) {
      .slider__local-floor {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0; } }
    @media (max-width: 1025px) {
      .slider__local-floor {
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem 0; } }
  .slider__local-destyny {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 2rem; }
    @media (max-width: 1400px) {
      .slider__local-destyny {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0; } }
    @media (max-width: 1025px) {
      .slider__local-destyny {
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem 0; } }
  .slider__loacal-status {
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
    margin: 2rem 0 5rem 0; }
    @media (max-width: 1400px) {
      .slider__loacal-status {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin: 1.2rem 0 1.2rem 0;
        margin: 1rem 0 1.5rem 0; } }
    @media (max-width: 1025px) {
      .slider__loacal-status {
        font-size: 1.4rem;
        margin: 0.5rem 0 1.5rem 0; } }
    @media (max-width: 680px) {
      .slider__loacal-status {
        margin: 1rem 0 1rem 0; } }
  .slider__blueprint {
    margin: 4rem 0 0 0;
    width: 45rem;
    height: 45rem; }
    @media (max-width: 1400px) {
      .slider__blueprint {
        width: 27rem;
        height: 27rem; } }
    @media (max-width: 1025px) {
      .slider__blueprint {
        width: 18rem;
        height: 18rem; } }
    @media (max-width: 680px) {
      .slider__blueprint {
        margin: 0 0 0 0; } }
  .slider__map-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 7.5% 0 8%; }
    @media (max-width: 1400px) {
      .slider__map-wrapper {
        margin: 0 5% 0 5%; } }
    @media (max-width: 1025px) {
      .slider__map-wrapper {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (max-width: 680px) {
      .slider__map-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 0 0 0 0; } }
  .slider__map {
    width: 10.5rem; }
    @media (max-width: 680px) {
      .slider__map {
        width: 9rem;
        height: 9rem; } }
  .slider__compass {
    height: 7rem;
    margin: 0 0 6.5rem 0; }
    @media (max-width: 1025px) {
      .slider__compass {
        width: 3rem; } }
    @media (max-width: 680px) {
      .slider__compass {
        width: 1.5rem;
        margin: 0 2rem 0 0; } }
  .slider__dots-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 1.5rem; }
  .slider__dot {
    width: 1rem;
    height: 1rem;
    background: #000000;
    margin: 0 0.4rem 0 0.4rem;
    border-radius: 50%;
    cursor: pointer; }
    .slider__dot--active {
      background: #86a6de;
      -webkit-transform: scale(1.4);
              transform: scale(1.4); }
  .slider__arrow-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 8%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .slider__arrow-left:hover {
      background: rgba(134, 166, 222, 0.2); }
      @media (max-width: 680px) {
        .slider__arrow-left:hover {
          background: none; } }
  .slider__arrow-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 8%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    right: 0; }
    .slider__arrow-right:hover {
      background: rgba(134, 166, 222, 0.2); }
      @media (max-width: 680px) {
        .slider__arrow-right:hover {
          background: none; } }
  .slider__errorApi {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 11rem 0 11rem 0;
  width: 75%; }
  @media (max-width: 1400px) {
    .statistics {
      width: 100%; } }
  @media (max-width: 1025px) {
    .statistics {
      margin: 3rem 0 5rem 0; } }
  @media (max-width: 680px) {
    .statistics {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .statistics__statistic-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40rem; }
    @media (max-width: 1400px) {
      .statistics__statistic-wrapper {
        width: 34rem; } }
  .statistics__info--one {
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-weight: lighter; }
    @media (max-width: 1400px) {
      .statistics__info--one {
        width: 80%;
        font-size: 1.4rem; } }
  .statistics__info--two {
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-weight: lighter; }
    @media (max-width: 1400px) {
      .statistics__info--two {
        width: 80%;
        font-size: 1.4rem; } }
  .statistics__info--three {
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-weight: lighter;
    width: 80%; }
    @media (max-width: 1400px) {
      .statistics__info--three {
        width: 80%;
        font-size: 1.4rem; } }
  .statistics__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 17rem;
    overflow: hidden; }
    @media (max-width: 1025px) {
      .statistics__number {
        height: 11rem; } }
    @media (max-width: 500px) {
      .statistics__number {
        height: 8rem; } }
  .statistics__digit {
    font-size: 15rem;
    color: black;
    font-weight: bold;
    text-align: center; }
    @media (max-width: 1025px) {
      .statistics__digit {
        font-size: 10rem; } }
    @media (max-width: 500px) {
      .statistics__digit {
        font-size: 6rem; } }
  .statistics__digit-wrapper--animate {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-animation: numberAnimation 1s both;
            animation: numberAnimation 1s both; }

@-webkit-keyframes numberAnimation {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(calc(-100% + 17rem));
            transform: translateY(calc(-100% + 17rem)); } }

@keyframes numberAnimation {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(calc(-100% + 17rem));
            transform: translateY(calc(-100% + 17rem)); } }

@media (max-width: 1025px) {
  @-webkit-keyframes numberAnimation {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%); }
    100% {
      -webkit-transform: translateY(calc(-100% + 11rem));
              transform: translateY(calc(-100% + 11rem)); } }
  @keyframes numberAnimation {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%); }
    100% {
      -webkit-transform: translateY(calc(-100% + 11rem));
              transform: translateY(calc(-100% + 11rem)); } } }

@media (max-width: 500px) {
  @-webkit-keyframes numberAnimation {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%); }
    100% {
      -webkit-transform: translateY(calc(-100% + 8rem));
              transform: translateY(calc(-100% + 8rem)); } }
  @keyframes numberAnimation {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%); }
    100% {
      -webkit-transform: translateY(calc(-100% + 8rem));
              transform: translateY(calc(-100% + 8rem)); } } }

.post--first {
  width: 40%; }
  @media (max-width: 1025px) {
    .post--first {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 500px) {
    .post--first {
      margin: 4rem 0 0 0;
      width: 95%; } }

.post--secend {
  width: 31%;
  -webkit-transform: translateY(-25rem);
          transform: translateY(-25rem);
  margin: 0 0 0 9.8%; }
  @media (max-width: 1025px) {
    .post--secend {
      margin: 0 0 0 4%;
      max-width: 35rem;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 500px) {
    .post--secend {
      margin: 4rem 0 0 0;
      width: 95%;
      max-width: 95%; } }

.post__images-wrapper {
  position: relative;
  width: 100%;
  max-width: 77.4rem;
  overflow: hidden; }

.post__image--one {
  position: relative;
  width: 100%;
  mix-blend-mode: normal; }

.post__image--two {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.66;
  mix-blend-mode: overlay; }

.post__title {
  line-height: 3rem;
  margin: 3rem 0 2rem 0;
  width: 70%; }
  @media (max-width: 1025px) {
    .post__title {
      text-align: center;
      width: 95%; } }
  @media (max-width: 680px) {
    .post__title {
      width: 95%; } }

.post__info--first {
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
  width: 70%; }
  @media (max-width: 1025px) {
    .post__info--first {
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      max-width: 545rem; } }
  @media (max-width: 680px) {
    .post__info--first {
      width: 90%; } }
  @media (max-width: 500px) {
    .post__info--first {
      width: 95%; } }

.post__info--secend {
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
  width: 90%; }
  @media (max-width: 1025px) {
    .post__info--secend {
      width: 80%;
      text-align: center;
      font-size: 1.5rem; } }
  @media (max-width: 680px) {
    .post__info--secend {
      width: 90%; } }
  @media (max-width: 500px) {
    .post__info--secend {
      width: 95%; } }
